:root {
  --color1: #0099cc;
  --color2: #66ccff;
  --background-white: #ffffff;
  --text-color-black: #333333;
  --text-color-white: #ffffff;
}

/*   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
 */
